{% extends "base.html" %}

{% block title %}{% if preview %}Предпросмотр{% else %}Валюта{% endif %}{% endblock %}

{% block links %}
<link rel="stylesheet" href="/static/css/valutes/valute.css">
{% endblock %}

{% block body %}
<div id="valute-side">
    <img src="{{ valute['photo'] }}" alt="photo" id="valute-photo">
    <div id="valute-id">{{ valute['vid'] }}</div>
    <div id="valute-ruler">
        <img src="{{ ruler['photo'] }}" alt="photo" id="valute-ruler-photo">
        <div id="valute-ruler-name">
            <div>Регулятор</div>
            <a id="valute-ruler-name" href="https://vk.com/write{{ ruler['id'] }}">{{ ruler['name'] }}</a>
        </div>
    </div>
</div>
<div id="valute-desc-wrapper">
    <div id="valute-name-wrapper">
        <h1 id="valute-name">{{ valute['name'] }}</h1>
        <img src="/static/images/check/{{ valute['check'] }}.png" alt="check" id="valute-name-check">
        <div id="valute-add">{{ valute['add']|safe }}</div>
    </div>
    <div id="valute-change">
        <div id="valute-abbreviation">{{ valute['abbreviation'] }}/RUB</div>
        <div id="valute-change-value">{{ valute['change'] }}</div>
        <a href="/valutes/changes/{{ valute['vid'] }}">Курс к другим валютам</a>
    </div>
    <div id="valute-description">{{ valute['desc']|safe }}</div> 
</div>
{% endblock %}