#profile {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#profile-current, #country-current, #valute-current {
    width: 100vw;
    height: 24vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    border-radius: 20px;
    margin: 2vh 0vw;
    background-color: var(--cl-w);
}

#user-photo {
    aspect-ratio: 1/1;
    height: 60%;
    border-radius: 50%;
}

#country-flag {
    aspect-ratio: 3/2;
    height: 50%;
    border-radius: 20px;
}

#valute-photo {
    aspect-ratio: 2/1;
    height: 50%;
    border-radius: 20px;
}

#user-info, #country-info, #valute-info {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#user-name, #country-name, #valute-name {
    font-size: 1.3em;
    font-weight: bold;
}

#auth-current {
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--cl-p);
}

#vk-auth-wrapper {
    height: 130px;
    border-radius: 10px;
    overflow: hidden;
}

#settings {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

#settings > * {
    background-color: var(--cl-w);
    color: var(--cl-p);
    margin: 2vh 1%;
    width: 47.9%;
    height: 10vh;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--cl-w);
    border-radius: 10px;
    outline: 5px solid var(--cl-q);
}

#settings > * > option {
    color: var(--cl-p);
    background-color: var(--cl-w);
}

#user-banned {
    color: #AE0000;
}

#user-moderation {
    color: #0000AE;
}

#user-admin {
    color: #00AE00;
}