body {
    --cl-q: #d0f0c0;                /*###################*/
    --cl-w: #b6d2a8;                /*                   */
    --cl-e: #9cb490;                /*                   */
    --cl-r: #8fa584;                /*                   */
    --cl-t: #829678;                /*  Standart Colors  */
    --cl-y: #75876c;                /*                   */
    --cl-u: #687860;                /*                   */
    --cl-i: #4e5a48;                /*                   */
    --cl-o: #343c30;                /*                   */
    --cl-p: #1A1E18;                /*###################*/

    --cl-error: #829678;            /*###################*/
    --cl-error-hv: #75876c;         /*    Error Colors   */
    --cl-error-return: #b6d2a8;     /*###################*/
}

/* Color Scheme: https://coolors.co/d0f0c0-b6d2a8-9cb490-8fa584-829678-75876c-687860-4e5a48-343c30-000000 */